
body {
  margin: .5rem;
  padding: .25rem;
}

fieldset {
  margin: .5rem;
  padding: .5rem;
}

input {
  margin: .25rem;
}

button {
  width: 1.5rem;
  height: 1.5rem;
}

#players {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#playerButtons {
  display: flex;
  flex-direction: column;

  gap: .2rem;
}

#displayGames li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: .25rem;
  padding: .25rem;
}
#displayGames li:nth-child(odd) {
  background-color: #EAF2E3;
}
#displayGames li:nth-child(even) {
  background-color: #EEF0F2;
}
.outcome {
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.win {
  background: url('../images/winner.png') no-repeat;
  background-size: contain;
  background-position: 20%;
  text-align: right;
  padding-right: 10%;
}

.lose {
  background: url('../images/lose.png') no-repeat;
  background-size: contain;
  background-position: 90%; 
  text-decoration: line-through;
  text-align: left;
  padding-left: 10%;
}

ol {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
}
  
li:before {
    content: "Game " counter(elementcounter);
    counter-increment: elementcounter;
    font-weight: bold;
}